body {
    margin: 0;
    min-width: 250px;
  }
  
  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    border: 1px solid black;
    margin-top: 3px;
    margin-left:5px;
    margin-right:5px;
    background: #f9f9f92c;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
.checked li span{
    /* background: rgb(39, 39, 39); */
    color: rgb(22, 22, 22);
    text-decoration: line-through;
    
  }
  
  /* Add a "checked" mark when clicked on */
.checked::before li{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    /* background-color: #f44336; */
    /* background-image:url(bg3.PNG); */
    padding: 10px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 3px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  .thisX a:hover{
      color:red;

  }
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 10%;
    height: 38px;
    margin-left:5px;
    background: #d9d9d9;
    color: #555;
    float: left;
    background-color: white;
    color: black;
    border: 1px solid silver;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
  }
   #delete {
      width: 45%;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
  }
  h3{
      display:inline-block;
      margin-top:15px;
      margin-bottom: 29px;
  }
  .button3 {
    background-color: rgba(255, 255, 255, 0); 
    color: black; 
    border: 1px solid silver;
    
    /* border: 2px solid #f44336; */
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }
  body{
      background-image:url(gbg.png);
  }
  .addBtn:hover {
    background-color: #bbb;
  }
  